* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: sans-serif;
}

.dropzone {
  border: 2px dashed;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

img {
  margin-top: 2rem;
}
